h1 {
  color: rgb(220, 170, 21);
}

body {
  background-color: rgb(126, 179, 110);
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  padding: 30px;
  margin: 30px;
}

.prizes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}